<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>185</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>184</string>
					<key>Timestamp</key>
					<string>732127532.100986</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WhichFood/Features/SelectFood/SelectFoodViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func tableView(_ tableView: UITableView, didSelectRowAt indexPath: IndexPath) {
</string>
				<key>leading</key>
				<string>    
    
</string>
				<key>trailing</key>
				<string>        if viewModel.inSearchMode(searchField) {
            let food = viewModel.filteredFoods[indexPath.row]
            viewModel.filteredFoods[indexPath.row].isSelected.toggle()
</string>
			</dict>
			<key>title</key>
			<string>fonksiyonu düzenle</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>228</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>227</string>
					<key>Timestamp</key>
					<string>732127532.101022</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WhichFood/Features/SelectFood/SelectFoodViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            let vc = ShowFoodVC()
</string>
				<key>leading</key>
				<string>    func navigate() {
        DispatchQueue.main.async{
</string>
				<key>trailing</key>
				<string>            let vm = ShowFoodViewModel()
            vc.selectedFoods = self.viewModel.selectedFoods
            vc.selectedCategory = self.categories
</string>
			</dict>
			<key>title</key>
			<string>buna bir init tanımlayabilirsin</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>190</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>189</string>
					<key>Timestamp</key>
					<string>731578333.920593</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WhichFood/Features/Settings/SettingsView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                        Image("Eventier")
</string>
				<key>leading</key>
				<string>                Section(header: Text(LocaleKeys.Settings.otherApps.rawValue.locale())) {
                    HStack{
</string>
				<key>trailing</key>
				<string>                            .resizable()
                            .scaledToFit()
                            .frame(width: 20, height: 20)
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingLineNumber</key>
					<string>91</string>
					<key>StartingLineNumber</key>
					<string>91</string>
					<key>Timestamp</key>
					<string>732098533.707063</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WhichFood/Features/DiscoverFood/DiscoverViewModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func saveRecipe(_ recipe: RecipeResponseModel?) {
</string>
				<key>leading</key>
				<string>    
    
</string>
				<key>trailing</key>
				<string>        Task { [weak self] in
            guard let self = self else { return }
            self.delegate?.handleViewModelOutput(.setLoading(true))
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>338</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>338</string>
					<key>Timestamp</key>
					<string>749082528.402997</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WhichFood/Features/ShowFood/ShowFoodVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    }
}
</string>
				<key>trailing</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>138</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>138</string>
					<key>Timestamp</key>
					<string>749121756.638599</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WhichFood/Features/Search/SearchViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>    }
}
</string>
				<key>trailing</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>98</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>97</string>
					<key>Timestamp</key>
					<string>732017558.603133</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WhichFood/Service/SavedRecipesManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    func getRecipes() async throws -&gt; [Recipe] {
</string>
				<key>leading</key>
				<string>    
    
</string>
				<key>trailing</key>
				<string>        do {
            let array = try await recipesCollection
                .limit(to: 21)
</string>
			</dict>
			<key>title</key>
			<string>currentLanguage ile aynı olanları çekicez</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WhichFood/Utils/Locale/Languages/tr.lproj/Localizable.strings</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>55</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>54</string>
					<key>Timestamp</key>
					<string>749121501.373305</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WhichFood/Features/Search/SearchCell.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        let availableWidth = width - (padding * 2) - (minimumItemSpacing * 2)
</string>
				<key>leading</key>
				<string>        let padding: CGFloat = 20
        let minimumItemSpacing: CGFloat = 10
</string>
				<key>trailing</key>
				<string>        let itemWidth =  availableWidth / 3
        
        addSubview(imageView)
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>122</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>121</string>
					<key>Timestamp</key>
					<string>749122469.321472</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WhichFood/Features/Home/HomeViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    }
</string>
				<key>leading</key>
				<string>        let vc = PremiumVC()
        viewModel.delegate?.navigate(to: .present(vc))
</string>
				<key>trailing</key>
				<string>    
    
    private func configure() {
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>40</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>39</string>
					<key>Timestamp</key>
					<string>734860815.599268</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WhichFood/Features/Home/HomeViewModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        SavedRecipesManager.shared.deleteRecipeByUserID(id: recipe.id)
</string>
				<key>leading</key>
				<string>    
    func deleteRecipe(recipe: Recipe) {
</string>
				<key>trailing</key>
				<string>        Task{
            await self.getRecipes()
        }
</string>
			</dict>
			<key>title</key>
			<string>buraya tariften userID'yi çıkaralım func yazalım</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>109</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>108</string>
					<key>Timestamp</key>
					<string>749121397.059337</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WhichFood/CustomViews/Cells/HomeRecipeCell.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        let confirmAction = UIAlertAction(title: LocaleKeys.Error.delete.rawValue.locale(), style: .destructive) { [weak self] _ in
</string>
				<key>leading</key>
				<string>        )
        
</string>
				<key>trailing</key>
				<string>            self?.delegate?.deleteRecipe(recipe: recipe)
            self?.isHighlighted = false
        }
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>192</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>191</string>
					<key>Timestamp</key>
					<string>731956881.376053</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WhichFood/Features/SelectCategory/SelectCategoryVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    }
</string>
				<key>leading</key>
				<string>            verticalStackView.widthAnchor.constraint(equalToConstant: view.bounds.width - 40)
        ])
</string>
				<key>trailing</key>
				<string>    
    func setupNextButton() {
        view.addSubview(nextButton)
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>329</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>328</string>
					<key>Timestamp</key>
					<string>732019624.075574</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WhichFood/Utils/Locale/LocaleKeys.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        case delete =   "error_delete"
</string>
				<key>leading</key>
				<string>        case networkError = "network_error"
        case uploadPhotoError = "upload_photo_error"
</string>
				<key>trailing</key>
				<string>        case cancel =   "error_cancel"
        case share =    "error_share"
        case checkOut = "error_check_out"
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>71</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>70</string>
					<key>Timestamp</key>
					<string>748479077.999616</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WhichFood/Features/Onboarding/OnboardingViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        skipButton.setTitle("Skip", for: .normal)
</string>
				<key>leading</key>
				<string>        skipButton.translatesAutoresizingMaskIntoConstraints = false
        skipButton.setTitleColor(Colors.accent.color, for: .normal)
</string>
				<key>trailing</key>
				<string>        skipButton.addTarget(self, action: #selector(skipTapped(_:)), for: .primaryActionTriggered)
        
        nextButton.translatesAutoresizingMaskIntoConstraints = false
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
